
<script language="javascript" type="text/javascript">
<!--
	function submitbutton(pressbutton) {
	    var form = document.mailtoForm;

		// do field validation
		if (form.mailto.value == "" || form.from.value == "") {
			alert( 'Please provide a valid e-mail address.' );
			return false;
		}
		form.submit();
	}
-->
</script>

<form action="/index.php" name="mailtoForm" method="post">

<div style="padding: 10px;">
	<div style="text-align:right">
		<a href="javascript: void window.close()">
			Close Window <img src="/components/com_mailto/assets/close-x.png" border="0" alt="" title=""/></a>
	</div>

	<div class="componentheading">
		E-mail this link to a friend.	</div>

	<p>
		E-mail to:
		<br/>
		<input type="text" name="mailto" class="inputbox" size="25" value=""/>
	</p>

	<p>
		Sender:
		<br/>
		<input type="text" name="sender" class="inputbox" value="" size="25"/>
	</p>

	<p>
		Your E-mail:
		<br/>
		<input type="text" name="from" class="inputbox" value="" size="25"/>
	</p>

	<p>
		Subject:
		<br/>
		<input type="text" name="subject" class="inputbox" value="" size="25"/>
	</p>

	<p>
		<button class="button" onclick="return submitbutton('send');">
			Send		</button>
		<button class="button" onclick="window.close();return false;">
			Cancel		</button>
	</p>
</div>

	<input type="hidden" name="layout" value="default"/>
	<input type="hidden" name="option" value="com_mailto"/>
	<input type="hidden" name="task" value="send"/>
	<input type="hidden" name="tmpl" value="component"/>
	<input type="hidden" name="link" value="aHR0cDovL3d3dy56aXR1eC5jb20vY29tcG9uZW50L2NvbnRlbnQvYXJ0aWNsZS8yNS10aGUtcHJvamVjdC82Ni1mcmVxdWVudGx5LWFza2VkLXF1ZXN0aW9ucy5odG1s"/>
	<input type="hidden" name="e8c5b3d1741316470cf67fce5ef75ec7" value="1"/></form>

<!--
     FILE ARCHIVED ON 19:24:24 Nov 14, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:32:15 Sep 07, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 0.518
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.009
  esindex: 0.009
  cdx.remote: 34.464
  LoadShardBlock: 32.149 (3)
  PetaboxLoader3.datanode: 93.94 (4)
  load_resource: 104.103
  PetaboxLoader3.resolve: 35.525
-->